a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp5e7695cb{ color:#FF0080; text-decoration: underline} 
		a.wsp5e7695cb:visited{ color:#FF0080; text-decoration: underline} 
		a.wsp5e7695cb:active{ color:#8000FF; text-decoration: underline} 
		a.wsp5e7695cb:hover{ color:#8000FF; text-decoration: underline} 
		a.wspb170fe2{ color:#FFFF00; text-decoration: underline} 
		a.wspb170fe2:visited{ color:#FFFF00; text-decoration: underline} 
		a.wspb170fe2:active{ color:#00FF00; text-decoration: underline} 
		a.wspb170fe2:hover{ color:#00FF00; text-decoration: underline} 
		a.wsp73614d28{ color:#FF0080; text-decoration: underline} 
		a.wsp73614d28:visited{ color:#FF0080; text-decoration: underline} 
		a.wsp73614d28:active{ color:#8000FF; text-decoration: underline} 
		a.wsp73614d28:hover{ color:#8000FF; text-decoration: underline} 
		a.wsp7b25d849{ color:#0000A0; text-decoration: underline} 
		a.wsp7b25d849:visited{ color:#0000A0; text-decoration: underline} 
		a.wsp7b25d849:active{ color:#FF0080; text-decoration: underline} 
		a.wsp7b25d849:hover{ color:#FF0080; text-decoration: underline} 
		a.wsp7dba0333{ color:#FF0080; text-decoration: underline} 
		a.wsp7dba0333:visited{ color:#FF0080; text-decoration: underline} 
		a.wsp7dba0333:active{ color:#8000FF; text-decoration: underline} 
		a.wsp7dba0333:hover{ color:#8000FF; text-decoration: underline} 
		a.wsp6fc61b5{ color:#00FF00; text-decoration: underline} 
		a.wsp6fc61b5:visited{ color:#800080; text-decoration: underline} 
		a.wsp6fc61b5:active{ color:#8018CB; text-decoration: underline} 
		a.wsp6fc61b5:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp72092707{ color:#FF0080; text-decoration: underline} 
		a.wsp72092707:visited{ color:#FF0080; text-decoration: underline} 
		a.wsp72092707:active{ color:#8000FF; text-decoration: underline} 
		a.wsp72092707:hover{ color:#8000FF; text-decoration: underline} 
body { background-color:#400080; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#00FF80;  }
#container_23467b03 { vertical-align: top; position:relative; display: inline-block; width:52%; min-height:58px; background:none;  }
#container_23467b03_padding { margin: 10px; display: block;  }
